<!DOCTYPE html>
<html>
  <head>
    <title>Conletra</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= localization_menu %>
    <%= link_to t("Home"), root_path %>
    <%= link_to t("About"), about_path %>
    <%= yield %>
  </body>
</html>
