<!DOCTYPE html>
<html>
  <head>
    <title>Conletra</title>
    <meta name="google-site-verification" content="TYkdOjztyc_N9hMBFi3j5r4Ee31vJp9jE9KSf1UTWi8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
